tvb-library~=2.0.5
tvb-data~=2.0
# plotly~=4.6.0
plotly~=4.14.3
mne~=0.20.0
numpy~=1.18.2
matplotlib~=3.2.1
scipy~=1.4.1
pandas>=1.0.3
unidip~=0.1.1
jupyter

# Check version:  pip freeze | findstr plotly
#   or into python: import module; module.__version__.

